@model DDona.Siscarpio.Web.ViewModel.Usuario.UsuarioIndexViewModel

@{
    ViewBag.Title = "Listagem de Usuários";
}

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary pull-right">
            <i class="glyphicon glyphicon-plus-sign"></i>
            Adicionar
        </button>
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<hr />

@using (Html.BeginForm("Index", "Usuario", FormMethod.Post, new { @class = "form" }))
{
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label for="Nome">Nome</label>
                <input id="DadosBusca_Nome" name="DadosBusca.Nome" type="text" value="@Model.DadosBusca.Nome" class="form-control">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="Nome">Username</label>
                <input type="text" class="form-control" name="DadosBusca.Username" id="DadosBusca_Username" value="@Model.DadosBusca.Username" />
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <button type="submit" class="form-control btn btn-success"><i class="glyphicon glyphicon-search"></i> Buscar</button>
            </div>
        </div>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Username
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Usuarios)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td></td>
        </tr>
    }

</table>

<p>
    Total de <strong>@Model.Usuarios.Count()</strong> usuário(s)
</p>